---
http_interactions:
- request:
    method: post
    uri: http://gom.dev.artcom.de/tests/1
    body:
      encoding: US-ASCII
      string: <node/>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - http://gom.dev.artcom.de/tests/1/58ddce3a-9bd4-4d7a-9416-469fda0f6541
      Status:
      - '303'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://gom.dev.artcom.de/tests/1/58ddce3a-9bd4-4d7a-9416-469fda0f6541">redirected</a>.</body></html>
  recorded_at: Tue, 25 Jun 2013 14:56:53 GMT
- request:
    method: get
    uri: http://gom.dev.artcom.de/tests/1/58ddce3a-9bd4-4d7a-9416-469fda0f6541
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"a429961940b70f2c84aeaf795fa72122"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"node\": {\n    \"uri\": \"/tests/1/58ddce3a-9bd4-4d7a-9416-469fda0f6541\",\n
        \   \"mtime\": \"2013-06-25T17:16:44+02:00\",\n    \"ctime\": \"2013-06-25T17:16:44+02:00\",\n
        \   \"entries\": [\n      \n    ]\n  }\n}"
  recorded_at: Tue, 25 Jun 2013 14:56:53 GMT
- request:
    method: post
    uri: http://gom.dev.artcom.de/tests/2
    body:
      encoding: US-ASCII
      string: <node><attribute name='x'>u</attribute><attribute name='a'>23</attribute></node>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - http://gom.dev.artcom.de/tests/2/994d460d-1e45-48fd-9b43-90069ba49dce
      Status:
      - '303'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://gom.dev.artcom.de/tests/2/994d460d-1e45-48fd-9b43-90069ba49dce">redirected</a>.</body></html>
  recorded_at: Tue, 25 Jun 2013 14:56:53 GMT
- request:
    method: get
    uri: http://gom.dev.artcom.de/tests/2/994d460d-1e45-48fd-9b43-90069ba49dce
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"2728e0d11d84ba0f39b99860defc063c"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"node\": {\n    \"uri\": \"/tests/2/994d460d-1e45-48fd-9b43-90069ba49dce\",\n
        \   \"mtime\": \"2013-06-25T17:16:44+02:00\",\n    \"ctime\": \"2013-06-25T17:16:44+02:00\",\n
        \   \"entries\": [\n      \n    ]\n  }\n}"
  recorded_at: Tue, 25 Jun 2013 14:56:53 GMT
recorded_with: VCR 2.5.0
